<% content_for :user_content do %>
  <% @user.posts.each do |post| %>
    <div class="posts-index-item">
      <div class="post-left">
      <% if post.user %>
        <% if post.user.image_name.to_s.empty? %>
            <img src="/user_images/default_user.jpg">
        <% else %>
            <%= image_tag(post.user.image_name.to_s) %>
        <% end %>
      <% else %>
          <img src="/user_images/deleted_user.jpg">
      <% end %>
      </div>
      <div class="post-right">
        <div class="post-user-name">
          <%= link_to(post.user.name, "/users/#{post.user.id}") %>
        </div>
        <%= link_to(post.content, "/posts/#{post.id}") %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/user" %>