<div class="about-main">
  <h2>Likeitoryとは</h2>
  <p>
    「いいね！」を育むSNSサービスです。<br>
    ライカたち（いいね！の履歴）の足跡で新たなつながりを見つけましょう。
  </p>
  <img class="about-img" src="/about.png">
  <p class="thanks-massage">Thanks for Progate(<a href="https://prog-8.com/">prog-8.com</a>)</p>
</div>